.svn
*.pyc
.idea
auth.dat
# ignore common library folders
apiclient/
atom/
gdata/
oauth2client/
httplib2/
uritemplate/
# ensure no accidental security leaks
client_secrets.json
privatekey.p12
privatekey.pem

apps/python/reseller3.0/RapidReseller/bower_components
apps/python/reseller3.0/RapidReseller/node_modules
apps/python/reseller3.0/RapidReseller/static/js
apps/python/reseller3.0/RapidReseller/static/css
settings_local.py
