body {
    padding-top:60px;
    padding-bottom:20px;
}
.loading-indicator {
    padding: 1em;
}
@-webkit-keyframes blink {
    0% {
        opacity: .4;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .4;

    }
}

.blink-angry {
    -webkit-animation: blink .1s linear infinite;
    -moz-animation: blink .1s linear infinite;
    animation: blink .1s linear infinite;
}

.blink {
    -webkit-animation: blink 2s linear infinite;
    -moz-animation: blink 2s linear infinite;
    animation: blink 2s linear infinite;
}