body {
    padding-top: 60px;
    padding-bottom: 20px;

}
body, h1, h2, h3, h4, h5, h6 {
    font-family: 'RobotoDraft', sans-serif !important;
}

.loading-indicator {
    padding: 1em;
}

@-webkit-keyframes blink {
    0% {
        opacity: .4;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .4;

    }
}

.blink-angry {
    -webkit-animation: blink .5s linear infinite;
    -moz-animation: blink .5s linear infinite;
    animation: blink .5s linear infinite;
}

.blink {
    -webkit-animation: blink 2s linear infinite;
    -moz-animation: blink 2s linear infinite;
    animation: blink 2s linear infinite;
}