<div class="jumbotron">
      <div class="container">
            <h1>Rapid Reseller</h1>
            <p>
                {{text}}
                Rapid Reseller is a quick demonstration of the various API methods available to Google Apps Resellers.
                The demonstration is written in Python on Google App Engine, but API libraries are available in many other languages,
                including: Java, C#.Net, PHP, Go, Ruby, and NodeJS.
            </p>
          <loading-icon></loading-icon>
          <p>
              Source code is freely available on
              <a href="https://github.com/google/enterprise-deployments/tree/master/apps/python/reseller3.0/RapidReseller">Github</a>
          </p>


          <p class="pull-right">
              <a class="btn btn-primary btn-lg" href="/step1">Lets Get
                  Started!</a>
          </p>
      </div>
    </div>


