
<h1>Step 3.5: Verify the Domain</h1>
<p>
    The domain will need to be validated using the
    <b>{{siteVerificationConfirm.verificationInfo.verificationMethod}}</b>
    method using the following value:
</p>

<pre>
    {{siteVerificationConfirm.verificationInfo.verificationToken}}
</pre>
<div class="panel panel-default">
    <div class="panel-body" ng-switch="siteVerificationConfirm.verificationInfo.verificationMethod">
        <div ng-switch-when="FILE">
            When validating using the FILE method, Google will make an http request to
        </div>
    </div>

</div>
<div>

</div>

<a ng-click="siteVerificationConfirm.next()" class="btn btn-primary">
    Validate Site &raquo;</span>
</a>