<h1>Step 5: Create a user on the customer account</h1>
<p>
    When a Google Apps instance is created, it is instantiated with 0 accounts.
    Resellers can act on behalf of their resold customers to provision accounts
    using the Admin SDK.
</p>
<p>
    Important: After creating a user, it is important to use the
    <a href="https://developers.google.com/admin-sdk/directory/v1/reference/users/makeAdmin">users.makeAdmin</a>
    call to promote the user to an administrator.
</p>
<form ng-submit="userCreate.next()">
    <input type="submit" class="btn btn-primary" value="Next &raquo;">
    <loading-indicator></loading-indicator>
</form>