<h1>Step 4: Verification Status</h1>
<p>
    All Google Apps domains MUST be verified.  Depending upon your capabilities,
    one of these options may make more sense than the other.
</p>
<div ng-switch="siteVerificationAction.verificationStatus">
    <pre ng-switch-when="-1">Site Verification Status: Working...</pre>
    <pre ng-switch-when="0">Site Verification Status: FAILED!</pre>
    <pre ng-switch-when="1">Site Verification Status: OK!</pre>
    <pre ng-switch-default>Site Verification Status: Pending!</pre>
</div>
<p>Prior to leveraging Google Apps, MX records will need to be created for the domain.</p>

<a ng-click="siteVerificationAction.doVerification()" class="btn btn-default">Try Again..</a>
<a ng-click="siteVerificationAction.next()" class="btn btn-primary">Next &raquo;</a>