<!DOCTYPE html>
<html class="google" lang="en">
  <meta charset="utf-8">
  <meta content="initial-scale=1, minimum-scale=1, width=device-width" name="viewport">
  <title>Google - Rapid Reseller</title>
  <script src="//www.google.com/js/google.js"></script>
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="//www.google.com/css/maia.css" rel="stylesheet">

  <!-- Richie Foreman, Google - richieforeman@google.com -->

  <div class="maia-header" id="maia-header" role="banner">
    <div class="maia-aux">
      <h1>
          <a href="/">
              <img alt="Google" src="//www.google.com/images/logos/google_logo_41.png">
          </a> Rapid Reseller
      </h1>
    </div>
  </div>

  <div id="maia-main" role="main">
    {% block content %}{% endblock %}
  </div>
  <div id="maia-signature"></div>
  <div class="maia-footer" id="maia-footer">
    <div id="maia-footer-global">
      <div class="maia-aux">
        <ul>
          <li><a href="//www.google.com/">Google</a>
          <li><a href="//www.google.com/intl/en/about/">About Google</a>
          <li><a href="//www.google.com/intl/en/policies/">Privacy &amp; Terms</a>
        </ul>
      </div>
    </div>
  </div>
  <script src="//www.google.com/js/maia.js"></script>