{% extends "templates/_base.html" %}
{% block content %}
<h1>Rapid Reseller</h1>
    <div class="maia-cols">
        <div class="maia-col-8">
            <p>
                Rapid Reseller is a quick demonstration of the various API methods available to Google Apps Resellers.
                The demonstration is written in Python on Google App Engine, but API libraries are available in many other languages,
                including: Java, C#.Net, PHP, Go, Ruby, and NodeJS.
            </p>
            <p>
                Source code is freely available for interested parties.
            </p>
        </div>

        <div class="maia-col-4">
            <div class="maia-promo maia-button-box">
                <p>
                    Ready to get started?
                </p>

                <p>
                    <a class="maia-button" href="/step1">Lets Get Started!</a>
                </p>
            </div>
        </div>
    </div>



{% endblock %}