
{% extends "templates/_base.html" %}
{% block content %}
<h1>Step 2: Create A Subscription</h1>
    <p>
        Every resold customer can have one or more subscriptions.
        Subscriptions include a seat count, SKU, and renewal settings.
        Additional subscriptions include paid Google Apps accounts,
        Google Apps Vault and optional add-on storage.
        Subscriptions can also auto-renew or cancel at the end of the term.
    </p>
    <p>
        All subscriptions can be billed yearly, or on a monthly basis.
    </p>
    <p>
        <form action="/step2" method="POST">
            <fieldset>

                <label>Seat Count</label>
                    <input type="text" name="seats" value="5">

                <input type="submit" value="Next &raquo;" class="maia-button">

            </fieldset>
            <input type="hidden" name="token" value="{{ _csrf_token_ }}">
        </form>
    </p>
{% endblock %}