{% extends "templates/_base.html" %}
{% block content %}
<h1>Step3: Verify the Domain</h1>
<p>
    The domain will need to be validated using one of the following methods.
    Depending upon your application, and access to customer DNS records,
    one of these may make more sense than the other.
</p>

<form method="POST" action="/step3">
    <p>
        <select name="verificationMethod">
            <option value="FILE">FILE - Upload a file with a specific name to the website.</option>
            <option value="META">META - Place a tag in the meta section of the website.</option>
            <option value="ANALYTICS">ANALYTICS - Validate using an existing Google Analytics domain.</option>
            <option value="TAG_MANAGER">TAG_MANAGER - Not sure what this one does.</option>
            <option value="DNS_TXT">DNS_TXT - Using a DNS Text Record</option>
            <option value="DNS_CNAME">DNS_CNAME - Using a DNS CNAME Record</option>
        </select>
    </p>

    <input type="submit" class="maia-button" value="Next &raquo;">
</form>

{% endblock %}