
{% extends "templates/_base.html" %}
{% block content %}
<h1>Step 5: Create a user on the customer account</h1>
<p>
    When a Google Apps instance is created, it is instantiated with 0 accounts.
    Resellers can act on behalf of their resold customers to provision accounts.
</p>
<p>
    Currently, the Cloud Directory API does not currently allow for resellers
    to act on behalf of the customers.  The older Google Apps Provisioning API
    can be used to act on behalf of a customer.
</p>
<form action="/step5" method="POST">
    <input type="submit" class="maia-button" value="Next &raquo;">
</form>
{% endblock %}