{% extends "templates/_base.html" %}
{% block content %}
<h1>Step 6: Allocate a Drive Storage Subscription</h1>
<p>
    All Drive storage subscriptions are billed on the FLEXIBLE plan.
    When a subscription is allocated, it is not billed until assigned
    to a user by using the license management API.
</p>

<form method="POST" action="/step6">
    <input type="hidden" name="token" value="{{ _csrf_token_ }}">
    <input type="submit" class="maia-button" value="Next &raquo;">
</form>
{% endblock %}