
{% extends "templates/_base.html" %}
{% block content %}
<h1>User Created!</h1>
    <p>
        You can login to the new domain using the following credentials:
    </p>
    <p>
        <a href="https://admin.google.com" target="_blank">Admin Control Panel</a>
    </p>
    <p>
        Username <input type="text" onClick="this.select();" value="{{ username }}">
    </p>
    <p>
        Password <input type="text" onClick="this.select();" value="{{ password }}">
    </p>
{% endblock %}
<a href="/" class="maia-button">Start Over &raquo;</a>