
{% extends "templates/_base.html" %}
{% block content %}
<h1>Step2: Create A Subscription</h1>
    <p>
        Every customer record can have one or more subscriptions.
        Subscriptions include a seat count and a SKU.  For this example,
        a trial domain subscription will be provisioned.
        Additional subscriptions include paid Google Apps accounts,
        Google Apps Vault and optional add-on storage.
        Subscriptions can also auto-renew or cancel at the end of the term.
    </p>
    <p>
        All subscriptions can be billed yearly, or on a monthly basis.
    </p>
    <p>
        <form action="/step2" method="POST">
            <fieldset>
                <label>Seat Count</label><input type="text" name="seats" value="50">
                <input type="submit" value="Next &raquo;" class="maia-button">
            </fieldset>

        </form>
    </p>
{% endblock %}