{% extends "templates/_base.html" %}
{% block content %}
<h1>Step 1: Enter a New Customer Domain</h1>
    <p>
        Each resold customer must be provisioned with a primary domain.
    </p>
    <p>
        <form action="/step1" method="POST">
            <input type="text" name="domain" required value="{{ domain }}">
            <input type="hidden" name="token" value="{{ _csrf_token_ }}">
            <input type="submit" value="Next &raquo;" class="maia-button">
        </form>
    </p>
{% endblock %}